<h1 class="ticker">Ticker</h1>
<div class="function-wrap">

    <div>
        <button class="btn" (click)="deleteTickers()">Delete</button>
        <span class="spacer"></span>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addnewpop">Add New</button>
    </div>

    <div><span class="spacer"></span>
        <p class="vertical-align: middle">Total Records: {{ tickers.length }}</p>
    </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="addnewpop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Add New Ticker
                </h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div class="input-group"><label for="title" style="display: block;">Title: </label><textarea
                        [(ngModel)]="newTicker.ticker" rows="10" cols="50"
                        class="ng-untouched ng-pristine ng-valid"></textarea></div>
            </div>
            <div class="container"><label for="isActive"><input type="checkbox" name="isActive" id="isActive"
                        [(ngModel)]="newTicker.active" class="ng-untouched ng-pristine ng-valid"> Is Active </label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="addTicker()" data-dismiss="modal">Add
                    New</button>
                <!-- data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" -->
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 main-container">
    <div>
        <div class="listing-grid">
            <div class="detail-row">
                <div class="table-responsive">
                    <div id="account-statement_wrapper" class="dataTables_wrapper no-footer">

                        <table class="table01" id="account-statement" role="grid"
                            aria-describedby="account-statement_info"
                            class="  table table-striped table-bordered datatable dataTable no-footer">
                            <thead>
                                <tr role="row" class="ng-table-sort-header">
                                    <th width="3%">
                                        <div ng-if="template" ng-include="template"><input t type="checkbox"
                                                id="select_all" name="filter-checkbox" [checked]="isAllTickersSelected"
                                                (change)="onSelectAllTickers($event)"
                                                class="ng-untouched ng-pristine ng-valid"></div>
                                    </th>
                                    <th width="3%">Edit</th>
                                    <th width="10%" class="align-L">Id</th>
                                    <th class="align-L">Ticker</th>
                                    <th width="8%" class="align-L" >IsActive</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="tickers.length === 0">
                                <tr>
                                    <td colspan="5" class="align-C"><em>No Tickers</em></td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="tickers.length !== 0">
                                <tr *ngFor="let ticker of tickers; let id = index">
                                    <td><input type="checkbox" aria-label="checkbox"
                                            class="ng-pristine ng-untouched ng-valid ng-empty" [(ngModel)]="selectedItems[id]">
                                    </td>
                                    <td title=" 'Edit' "><a (click)="openEditModal(id)"><i
                                                class="fa fa-pencil-square-o fa-2x" data-toggle="modal"
                                                data-target="#openEditModal"></i></a></td>
                                    <td title=" 'ID' " class="align-L">{{id + 1}}</td>
                                    <td title=" 'Ticker Name' " class="align-L"> {{ticker.ticker}} </td>
                                    <td width="8%" title=" 'IsActive' " class="align-L" ><a
                                            *ngIf="ticker.active; else notActive" (click)="updateTicker(id)"><i
                                                class="fa fa-check-circle fa-2x" style="color: green;"></i></a>
                                        <ng-template #notActive>
                                            <a (click)="updateTicker(id)">
                                                <i class="fa fa-times-circle fa-2x" style="color: red"></i>
                                            </a>
                                        </ng-template>
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="openEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Edit Ticker
                        </h1>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group"><label for="title" style="display: block;">Title: </label><textarea
                                [(ngModel)]="editTicker.ticker" rows="10" cols="50"
                                class="ng-untouched ng-pristine ng-valid"></textarea></div>
                    </div>
                    <div class="container"><label for="isActive"><input type="checkbox" name="isActive" id="isActive"
                                [(ngModel)]="editTicker.active" class="ng-untouched ng-pristine ng-valid"> Is Active
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" (click)="confirmEdit()" data-dismiss="modal"
                            id="editbtn">Edit</button>
                        <!-- data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

