.sub-drop .sub-import:hover .sub-options {
  display: block;
}

.sub-options {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
}
.sub-options{
  width: 10em;
  margin-left: -0.8em;
  margin-top: 6px;
  background-color: #1e2040;
}
.sub-style>a{
  text-decoration: none;
  color: white;
}
.sub-import >a{
color: #ffff;
text-decoration: none;
}