<!-- <app-header></app-header> -->
<div class="col-md-12 main-container">
    <div>
        <div class="listing-grid">
            <div class="detail-row">
                <h2>Change Password</h2>
                <div class="m-t-20">
                    <form [formGroup]="changePassForm" (ngSubmit)="changePass()">
                    <div class="col-md-12">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        <dd>
                                        <input  appInputRestriction="noSpecialChars2" type="password" formControlName="newpassword" name="password" class="form-control" required="true">
                                        <div class="errors" *ngIf="changePassForm.get('newpassword')?.invalid &&
                                        (changePassForm.get('newpassword')?.touched ||
                                        changePassForm.get('newpassword')?.dirty)">
                              
                                            <div *ngIf="changePassForm.get('newpassword')?.hasError('required')">
                                              Password is required
                                            </div>
                              
                                            <div *ngIf="changePassForm.get('newpassword')?.errors?.['minlength']">
                                              Password must be at least 8 characters
                                            </div>
<!--                               
                                            <div class="error-text" *ngIf="changePassForm.get('newpassword')?.hasError('passwordStrength')">
                                              {{changePassForm.get('newpassword').errors['passwordStrength']}}
                                            </div> -->
                                       </div>
                                        <span class="error"></span>
                                        </dd>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="confirm_password">Confirm Password</label>
                                        <dd>
                                        <input type="password" appInputRestriction="noSpecialChars2" formControlName="confirm" name="password_confirmation" class="form-control"
                                            required="true">
                                         <div class="errors" *ngIf="changePassForm.get('confirm')?.invalid && (changePassForm.get('confirm')?.touched ||
                                            changePassForm.get('confirm')?.dirty)">

                                             <div *ngIf="changePassForm.get('confirm')?.hasError('required')">
                                             Confirm password is required
                                              </div>
                                         </div>
                                        <span class="error"></span>
                                    </dd>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="master_password">Transaction Password</label>
                                        <dd>
                                        <input type="password" formControlName="confirm" appInputRestriction="noSpecialChars2" name="master_password" class="form-control"
                                            required="true">
                                            <div class="errors" *ngIf="changePassForm.get('confirm')?.invalid &&
                                            (changePassForm.get('confirm')?.touched ||
                                            changePassForm.get('confirm')?.dirty)">
                            
                                          <div *ngIf="changePassForm.get('confirm')?.hasError('required')">
                                           Confirm password is required
                                          </div>
                                      </div>
                                        <span class="error" *ngIf="
                                        f?.get('confirm')?.invalid &&
                                        f.get('confirm')?.hasError('isNotMatching')
                                      "></span>
                                    </dd>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>&nbsp;</label><br>
                                    <!-- <input type="hidden" name="_token" value="rb8TLkkqdCYCn3WK1V7D0uYMpv6uK5URSUtz4DMA"> -->
                                    <button type="submit" class="btn btn-diamond">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </form>
                </div>
            </div>

            <div class="table-responsive data-table">
            </div>
        </div>
    </div>
</div>