nav.racenav{
    padding-left: 30px;
    margin-top: 32px;
    background: #e0e6e6;
    padding-top: 10px;
    margin: 15px 15px 15px 15px;
    border-radius: 6px;
}
tr.odd{
    text-align: center;
}
tr.even{
    text-align: center;
}
thead {
    text-align: center;
}
li.import-button1{
    margin-top: -43px;

}
button.btn-send1{
    padding: 9px 26px 9px 26px;
    border-radius: 3px solid gray;
    /* background-color: #1e2040; */
    color: black;
    border: none;
    background: #e98737;
}
    /* padding: 11px 26px 9px 26px;
    border-radius: 3px solid gray;
background-color: #1e2040;
color: white;
border-radius: 6px; */


.race1{
    /* background: #1e2040; */
    margin-left: 4px;
    /* border: 2px solid; */
    width: 12%;
    color: black;
    border-radius: 14px;
    margin-top: 13px;
    text-align: center;
    padding: 2px 4px 15px 5px;
}

.nav-tabs {
    border-bottom: 5px solid #dee2e6;
}
input {
    margin: 0 8px !important;
}