<h1 class="race1"  [class.select]="selectedTabIndex === 0"
(click)="selectTab(0)">Races list</h1>
<nav class="racenav">
    <div
    class="form-group"
    *ngIf="currentUser?.userType === commonService.vrnlUserType"
  >
    <label for="list-ac" class="list-ac">User List</label>
    <ng-select
      name="sortCondition"
      id="sortCondition"
      [(ngModel)]="selectedUser"
    >
      <ng-option value="" selected="selected"
        >Select User</ng-option
      >
      <ng-option
        value="{{ users.userId }}"
        *ngFor="let users of usersList"
      >
        {{ users.userName }}
      </ng-option>
    </ng-select>
  </div>
    <li *ngIf="currentUser?.userType === commonService.whitelabelUserType">
        <input
        type="radio"
          id="events_0"
          name="event"
          (change)="filterSport($event)"
          value="0"
          checked=""
        />
        <label for="events_0">All</label>
        <input
          type="radio"
          id="events_7"
          name="event"
          (change)="filterSport($event)"
          value="7"
        />
        <label for="events_7">Horse</label>
    
        <input
          type="radio"
          id="events_4339"
          name="event"
          (change)="filterSport($event)"
          value="4339"
        />
        <label for="events_4339">Greyhound</label>
      </li>
      <div id="account-statement_filter" class="dataTables_filter">
        <li class="import-button1"><button class="btn-send1" (click)="onActiveCasino()">
                Import</button></li>

    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <div class="col-md-12 main-container">
            <div class="">
                <div class="listing-grid">
                    <div class="detail-row">

                        <div class="table-responsive">
                            <div id="account-statement_wrapper" class="dataTables_wrapper no-footer">

                                
                                <table *ngIf="selectedTabIndex === 0" id="table_DL" class="table01 table-pt"
                                    id="account-statement"
                                    class="table table-striped table-bordered datatable dataTable no-footer" role="grid"
                                    aria-describedby="account-statement_info" style="text-align: center;">
                                    <thead>
                                        <tr role="row">
                                            <th width="3%">
                                                <div><input type="checkbox" [(ngModel)]="selectAll"
                                                        (click)="toggleSelectAll($event.target)" id="select_all"
                                                        class="ng-untouched ng-pristine ng-valid"></div>
                                            </th>
                                            <th  class="sorting" tabindex="0"
                                                aria-controls="account-statement" rowspan="1" colspan="1"
                                                aria-label="Round ID: activate to sort column ascending"
                                                >Race Name</th>

                                            <th *ngIf="currentUser?.userType === whitelabelUserType" class="sorting"
                                                tabindex="0" aria-controls="account-statement" rowspan="1" colspan="1"
                                                aria-label="Winner: activate to sort column ascending"
                                                >Country Name
                                            </th>

                                        </tr>

                                    </thead>
                                    <tbody *ngIf="currentUser?.userType === commonService.vrnlUserType">
                                        <tr role="row" class="odd" *ngFor="let teenpatti of races">
                                            <td><input [(ngModel)]="racesSelectMap[teenpatti.eventTypeId]"
                                                    type="checkbox" class="ng-untouched ng-pristine ng-valid"></td>
                                            <td><a href="javascript:void(0)" class="result-details"
                                                    data-mid="9.231205185240" data-type="teen"> {{ teenpatti.raceName }}
                                                </a></td>

                                        </tr>



                                    </tbody>


                                    <tbody *ngIf="currentUser?.userType === whitelabelUserType">
                                        <tr *ngFor="let teenpatti of races">
                                          <td>
                                            <input
                                              type="checkbox"
                                              [(ngModel)]="
                                                racesSelectMap[
                                                  teenpatti.eventTypeId + '-' + teenpatti.country.countryCode
                                                ]
                                              "
                                            />
                                          </td>
                                  
                                          <td>
                                            {{ teenpatti.raceName }}
                                          </td>
                                          <td>
                                            {{ teenpatti.country.country }}
                                          </td>
                                        </tr>
                                      </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                </div>
                <div id="modalresult" class="modal fade show" tabindex="-1">
                    <div class="modal-dialog" style="min-width: 650px">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Result Details</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>

                            <div class="modal-body nopading" id="result-details" style="min-height: 300px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>