<nav>
        <h1 class="accdet">Account Details</h1>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Profile</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Active Log</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="col-md-12 main-container content-wrapper ng-tns-c141-0">
            <div class="add-account">
                <h2 class="m-b-20">Profile</h2>
                <div class="row">
                    <div class="col-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Profile</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Prepost</th>
                                </tr>
                                <tr>
                                    <th scope="col">Domain</th>
                                    <th scope="col" class="ng-star-inserted">diamondex.live</th><!--bindings={
            "ng-reflect-ng-if": "true"
          }-->
                                </tr>
                                <tr>
                                    <th scope="col">Password</th>
                                    <th scope="col">
                                        <dd class="edit-pass">
                                            <p class="ng-star-inserted"></p><!--bindings={
            "ng-reflect-ng-if-else": "[object Object]"
          }--><!--container--><a data-bs-toggle="modal" data-bs-target="#password" class="favor-set"><i
                                                    aria-hidden="true" class="fa fa-pencil-square-o"></i>Edit</a>
                                        </dd>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Limits &amp; Commission</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">Exposure Limit</th>
                                    <th scope="col"> 1,00,00,00,000.00</th>
                                </tr>
                                <tr class="ng-star-inserted">
                                    <th scope="col">Share(%)</th><!--bindings={}-->
                                </tr>
                                <tr class="ng-star-inserted">
                                    <th scope="col">Cricket Share(%)</th>
                                    <th scope="col">0%</th>
                                </tr>
                                <tr class="ng-star-inserted">
                                    <th scope="col">Cricket Fancy Share(%)</th>
                                    <th scope="col">0%</th>
                                </tr>
                                <tr class="ng-star-inserted">
                                    <th scope="col">Soccer Share(%)</th>
                                    <th scope="col">0%</th>
                                </tr>
                                <tr class="ng-star-inserted">
                                    <th scope="col">Soccer Goal Share(%)</th>
                                    <th scope="col">0%</th>
                                </tr>
                                <tr class="ng-star-inserted">
                                    <th scope="col">Tennis Share(%)</th>
                                    <th scope="col">0%</th>
                                </tr>
                                <tr class="ng-star-inserted">
                                    <th scope="col">Indian Casino Share(%)</th>
                                    <th scope="col">0%</th>
                                </tr><!--bindings={
            "ng-reflect-ng-if": "true"
          }-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="col-md-12 main-container content-wrapper ng-tns-c141-0">
            <div class="listing-grid">
                <div class="detail-row">
                    <h2>Activity Log</h2>
                </div>
                <div class="table-responsive data-table" style="overflow: auto; white-space: nowrap;">
                    <table class="custom-table table table-striped" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Login Date &amp; Time</th>
                                <th>Login Status</th>
                                <th>IP Address</th>
                                <th>ISP</th>
                                <th>City/State/Country</th>
                            </tr>
                        </thead>
                        <tbody id="content">
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]"> Login Success </td>
                                <td id="ipAddress"></td>
                                <td id="isp"></td>
                                <td id="location"></td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-09 10:26:14 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">110.226.179.124</td>
                                <td id="isp">Bharti Airtel Limited</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-08 22:43:22 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">49.32.164.196</td>
                                <td id="isp">Reliance Jio Infocomm Ltd</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-08 22:34:00 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">2401:4900:1d7f:dd84:25b6:57a8:131d:66ba</td>
                                <td id="isp">Bharti Airtel</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-08 18:49:12 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">2401:4900:1c97:1516:14ae:708b:2337:7257</td>
                                <td id="isp">Bharti Airtel</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-08 09:39:50 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">2401:4900:1c97:1516:14ae:708b:2337:7257</td>
                                <td id="isp">Bharti Airtel</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-07 17:32:39 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">206.84.229.205</td>
                                <td id="isp">Vortex Netsol Private Limited</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-06 20:01:36 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">123.252.225.237</td>
                                <td id="isp">Tata Teleservices (Maharashtra) Ltd</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-06 20:01:35 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">123.252.225.237</td>
                                <td id="isp">Tata Teleservices (Maharashtra) Ltd</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr>
                            <tr id="tempTr" class="odd ng-star-inserted">
                                <td id="loginDate"> 2023-05-06 10:50:56 </td>
                                <td id="loginMessage" ng-reflect-ng-class="[object Object]" class="success"> Login
                                    Success </td>
                                <td id="ipAddress">2401:4900:1c97:1516:3cee:3ae9:c9fa:8b9e</td>
                                <td id="isp">Bharti Airtel</td>
                                <td id="location">Mumbai/Maharashtra/India</td>
                            </tr><!--bindings={
          "ng-reflect-ng-for-of": "[object Object],[object Object"
        }-->
                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><a
                            class="button btn btn-diamond primary_button datatable-pagebuttons previous disabled"
                            aria-controls="example" data-dt-idx="0" tabindex="0"
                            id="example_previous">Previous</a><span><a
                                class="button btn btn-diamond primary_button datatable-pagebuttons current"
                                aria-controls="example" data-dt-idx="1" tabindex="0">1</a></span><a
                            class="button btn btn-diamond primary_button datatable-pagebuttons next disabled"
                            aria-controls="example" data-dt-idx="2" tabindex="0" id="example_next">Next</a></div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">password</h1>
                <button type="button" class="close" data-bs-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <form  novalidate="" ng-reflect-form="[object Object]"
                    class="ng-untouched ng-pristine ng-invalid">
                    <div  class="container-fluid">
                        <div  class="row m-b-20">
                            <div  class="col-md-4"><label >New
                                    Password</label></div>
                            <div  class="col-md-8"><input  type="Password"
                                    formcontrolname="newpassword" id="new-password" required="" maxlength="20"
                                    class="text-right ng-untouched ng-pristine ng-invalid" ng-reflect-name="newpassword"
                                    ng-reflect-required="" ng-reflect-maxlength="20"><span 
                                    class="error"><!--bindings={
                "ng-reflect-ng-if": "false"
              }--></span></div>
                        </div>
                        <div  class="row m-b-20">
                            <div  class="col-md-4"><label >Confirm
                                    Password</label></div>
                            <div  class="col-md-8"><input  type="Password"
                                    formcontrolname="confirm" id="confirm-password" required="" maxlength="20"
                                    class="text-right ng-untouched ng-pristine ng-invalid" ng-reflect-name="confirm"
                                    ng-reflect-required="" ng-reflect-maxlength="20"><span 
                                    class="error"><!--bindings={
                "ng-reflect-ng-if": "false"
              }--><!--bindings={
                "ng-reflect-ng-if": "false"
              }--></span></div>
                        </div>
                        <div  class="row m-b-20">
                            <div  class="col-md-4"><label >Transaction
                                    Password</label></div>
                            <div  class="col-md-8"><input  type="Password"
                                    formcontrolname="password" name="" id="password-mpassword" required=""
                                    maxlength="20" ng-reflect-name="password" ng-reflect-required=""
                                    ng-reflect-maxlength="20" class="ng-untouched ng-pristine ng-invalid"><span
                                     class="error"><!--bindings={
                "ng-reflect-ng-if": "false"
              }--></span></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">submit</button>
            </div>
        </div>
    </div>
</div>