.dataTables_filter {
    /* margin-bottom: 5px !important; */
    padding-top: 10px;
}
.pagination{
    margin-top: 10px;
}
td.statuss{
    color: green !important;
}
/* ul#pageNumberContent {
    display: flex !important;
    margin-top: 15px !important;
} */
.pages li {
    display: inline;
    list-style: none;
    line-height: 50px;
    margin-right: 5px;
}
 .pages a.select, .pages a.select{
    color: white;
    background: #1e2040;
    border-radius: 10px;
}
.pages a {
    display: inline;
    font-weight: normal;
    margin: 0;
    padding: 10px;
}
a.btn{
    color: black;
    margin-bottom: 15px;
    text-decoration: none;
}

/* a:not([href]):not([tabindex]) {
    display: inherit;
    color: black;
    margin-bottom: 15px;
    text-decoration: none;
} */

#previd{
    background-color: #1e2040;
    color: white;
    border-radius: 10px;

}
a#getPL{
    margin-bottom: 8px;
    margin-left: 21px;
}