.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: -7px;
    margin-left: 15px
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider {
  background-color: #0b0c0c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0b0c0c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.align-C
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  height: 15px;
}
#col-md-2 {
  margin-top: 32px !important;
  padding-left: 0px !important;
}
/* #col-md-3{
  margin-left: -120px !important;
} */
.data-table table td, .data-table table th{
  height: 50px !important;
}
/* .table-bordered th{
  /* border: 1px !important; */


 .subt table th{
  /* width:232px;

  border: 1px solid black !important ; */
  font-weight: 100px;
}

@media screen and (max-width: 550px) {
  .btn-report{
    margin-left: 86px;
  }
  .dataTables_filter {
    text-align: left !important;
    margin-top: 11px
}
.web{
  margin-top: 25px !important;
  margin-left: 15px;
}
#col-md-3{
  margin-left: 7.9em;
  margin-top: -45px;
}
#col-md-2{
  margin-left: 15px;
}
 .row{
  display: flex;
  flex-direction: column;
}
#col-md-2{
  width: 155px !important;
  display: flex;
    flex-direction: column;
}
}
